.navbar {
  transition: all 0.4s;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar.active {
  background: #fff;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 40px; /* Adjust the size as needed */
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar.active .navbar-brand,
.navbar.active .nav-link {
  color: #000 !important;
}

.nav-link {
  margin-right: 1rem;
}

.navbar-toggler-icon {
  background-color: #fff;
}

@media (min-width: 992px) {
  .navbar-brand {
    margin-right: 400px; /* Add space between logo and menu items */
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-brand .logo {
    margin-right: 0;
  }
  .navbar-brand {
    width: auto; /* Ensure the brand/logo doesn't take up the full width */
  }
  .nav-link {
    margin: 0.5rem 0;
  }
  .navbar-toggler {
    margin-left: auto; /* Align the toggler to the right */
  }
}
